@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Medical Portal for Infants and Toddlers in the Philippines.</p>
    <p>Eliminate the risk of being exposed to COVID-19. Use BabyPedia the efficient portal made for Infants and Toddlers.</p>
</div>

