@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis">
<style>
    p {
        font-family: dosis;
        font-weight: bold;
       }

        p.detail {
            color: red;
            font-weight: bold;
            font-family: dosis;
            font-size: 64px;
        }

    span.name {
        color: blue;
        font-weight: bold;
        font-family: dosis;
        font-size: 64px; 
    }

    #one {
        color: black;
        font-size: 32px;
        font-family: Dosis;
    }
</style>
<div class="align-left">
    <p class="detail">Medical Portal <span class="name">for Infants and Toddlers in the Philippines</span> </p>
    <p id="one">Eliminate the risk of being exposed to COVID-19. Use BabyPedia the efficient portal made for Infants and Toddlers.</p>
</div>

