@{
    ViewData["Title"] = "Parent Registration";
}

<div class="text-center">
    <h1 class="display-4">Register a BabyPedia Account</h1>
</div>

<div>
    Username <input type="text" name="User" id="Username" value="" />
</div>

<div>
    Email <input type="text" name="Email" id="Email" value="" />
</div>

<div>
    First Name <input type="text" name="FName" id="FirstName" value="" />
</div>
<div>
    Last Name <input type="text" name="LName" id="LastName" value="" />
</div>

<div>
    Address <input type="text" name="Address" id="Address" value="" />
</div>

<input type="submit" value="Register" />
